.carousel-inner {
    max-height: 700px;
}

.fotoCarousel {
    max-height: 700px;
    object-fit: cover;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container .box {
    position: relative;
    width: 19em;
    height: 19em;
    margin: 4rem;
  }
  
  .container .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
  }
  
  .container .box:hover .contenido {
    transform: translate(3.5rem, 3.5rem);
  }

  .boxCardMenu{
    width: 500px;
    height: 700px;
}
/*menu*/
.fondoCardPizza{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSbz2Nt9Whvu99gVVFqGubQi9qeWbn4DbHag&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoCardHamburguesas{
    background-image: url(https://images3.alphacoders.com/131/1313839.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoCardCervezas{
    background-image: url(https://png.pngtree.com/background/20230525/original/pngtree-various-beers-on-black-background-picture-image_2734059.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}