.carousel-inner {
    max-height: 700px;
}

.fotoCarousel {
    max-height: 700px;
    object-fit: cover;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container .box {
    position: relative;
    width: 19em;
    height: 19em;
    margin: 4rem;
  }
  
  .container .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
  }
  
  .container .box:hover .contenido {
    transform: translate(3.5rem, 3.5rem);
  }